@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c7c3c3;
    background-image: none;
    color: rgba(0, 16, 51, 0.795);
    text-align: center;
  }

  body, html{
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  
  .header-icon {

    width: 200px;
    height: 100px;
    margin: 25px 25px 0 20px;
    vertical-align: middle;
    object-fit: contain;
    padding-top: 0px;
    display: inline-block;
    filter: brightness(0) invert(1);

  }
  
  .admin-container {
    min-height: 100vh;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(track.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 1;
  }
  
  .admin-title {
    font-size: 45px;
    margin-bottom: 10px;
    color: #ffffff ;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  
  .admin-username {
    font-size: 36px;
    font-weight: normal;
    opacity: 0.8;
    margin: 10px 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  
  .admin-subtext {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  
  .admin-profile {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 999; 
    cursor: pointer;
  }
  
  .admin-button {
    margin-top: 10px;
    padding: 12px 24px;
    font-size: 16px;
    background-color:  rgba(0, 51, 26, 0.511);
    color: #c7c3c3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-button.manage {
    margin-top: 20px;
  }
  .admin-button.manage:hover{
    background:  rgba(48, 66, 58, 0.511);
  }

  .admin-button.logout {
    margin-top: 10px;
  }

 .admin-button.logout:hover{
    background:  rgba(48, 66, 58, 0.511);
 }
  